.body{
    background: #1e201e;
}
.body >.container{
    background: #3c3d37;
}

.card{
    margin: 10px;
    background: rgb(236, 223, 204);
}
#navbarSupportedContent{
    background: #69756588;
    padding: 10px;
    border: 1px solid rgb(30, 32, 30);
    border-radius: 10px;
}
.nav-item >a {
    background-color: rgb(236, 223, 204);  
    width: 112%;
    font-size: 30px;
}


.nav-item :hover{
    background-color: #a8b1a6;
}
.main-menu{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    border-bottom: 1px solid rgb(236, 223, 204);
    color: #ecdfcc;
}
