

.h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.profile-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    border-radius: 50%;
    border: 3px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
    flex: 2;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

input[type="file"] {
    padding: 5px;
}

#bottons {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

#bottons:hover {
    background-color: #0056b3;
}


.success {
    color: green;
    text-align: center;
    margin-bottom: 15px;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}